<aside class="sidebar">
  <h2 class="logo">Admin Panel</h2>

  <nav>
    <a href="../dashboard/dashboard.html" data-page="dashboard">
      <i class="fa-solid fa-house"></i>
      <span>Dashboard</span>
    </a>

    <a href="../transaction/transaction.html" data-page="transaction">
      <i class="fa-solid fa-clock-rotate-left"></i>
      <span>Transaction history</span>
    </a>

    <a href="../user/user.html" data-page="user">
      <i class="fa-solid fa-users"></i>
      <span>Users</span>
    </a>

    <a href="../service/service.html" data-page="service">
      <i class="fa-solid fa-box"></i>
      <span>Service Package</span>
    </a>

    <a href="../digital/digital.html" data-page="digital">
      <i class="fa-solid fa-user-doctor"></i>
      <span>Digital Human</span>
    </a>
  </nav>
</aside>
